{
  "parser": "babel-eslint",
  "extends": [
    "eslint:recommended",
    "prettier",
    "airbnb-base"
  ],
  "plugins": [
    "prettier"
  ],
  "env": {
    "browser": true,
    "node": true,
    "es6": true
  },
  "rules": {
    "prettier/prettier": [
      "error",
      {
        "endOfLine": "auto"
      }
    ],
    "indent": "off",
    "linebreak-style": "off",
    "implicit-arrow-linebreak": "off",
    "comma-dangle": [
      "error",
      "never"
    ],
    "import/prefer-default-export": "off",
    "class-methods-use-this": "off",
    "no-console": "off",
    "eqeqeq": [
      "error",
      "always"
    ],
    "prefer-arrow-callback": "error",
    "prefer-const": "error"
  },
  "parserOptions": {
    "sourceType": "module"
  }
}